{% extends "base.html" %}
{% block title %}Search Page{% endblock %}
{% block content %}
<h1 class="header">View Movie</h1>
<hr style="border: 2px solid grey;">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% for movie in unnormalised_movie %}
<div class="post">
    <h2><span class="label">Title:</span> {{ movie['movie_title'] }}</h2>
    <p><span class="label">ID:</span> {{ movie['id'] }}</p>
    <p><span class="label">Ratings:</span> {{ movie['movie_rated'] }}</p>
    <p><span class="label">Release Date:</span> {{ movie['movie_released'] }}</p>
    <p><span class="label">Runtime:</span> {{ movie['movie_runtime'] }}</p>
    <p><span class="label">Genre:</span> {{ movie['movie_genres'] }}</p>
    <p><span class="label">Director:</span> {{ movie['movie_directors'] }}</p>
    <p><span class="label">Actors:</span> {{ movie['movie_actors'] }}</p>
    <p><span class="label">Plot:</span> {{ movie['movie_plot'] }}</p>
    <p><span class="label">Poster Link:</span> {{ movie['movie_poster'] }}</p>
    <p><span class="label">IMDB Rating:</span> {{ movie['movie_imdb_rating'] }}</p>
    <p><span class="label">IMDB ID:</span> {{ movie['movie_imdb_id'] }}</p>
    <p><span class="label">Box Office Revenue:</span> {{ movie['movie_box_office'] }}</p>
    <p><span class="label">Writers:</span> {{ movie['movie_writers'] }}</p>
    <p><span class="label">Database Entry Timestamp:</span> {{ movie['created_at'] }}</p>
</div>
    <form action="{{ url_for('delete_movie', movie_id=movie['id']) }}" method="POST">
    <input type="submit" value="Delete Movie" onclick="return confirm('Are you sure you want to delete this movie from the database?')">
    </form>
    <hr>
{% endfor %}
{% endblock %}